@page
<div class="container spacing">
    <div class="row">
        <div class="col-md-12 review-one" style="color: #ecf0f1;">
            <h2>Nedlasting av naturfagsappen</h2>
            <p>Naturfagsappen er for deg som ønsker å nå ditt potensiale i naturfag! Bruk appen til å gjøre deg klar til eksamen og andre vurderinger. Spørsmålene og bildene eies av Kjemia og kan ikke brukes uten samtykke.</p>
            <span>iPhone/iOS:</span>
            <a class="btn btn-primary" role="button" href="https://github.com/kristianoftedal/Naturfagsappen/raw/master/KjemiaQuiz.ipa" download="naturfagsappen.ipa">Last ned</a>
            <br />
            <span>Android:</span>
            <a class="btn btn-primary" role="button" href="https://github.com/kristianoftedal/Naturfagsappen/raw/master/KjemiaQuiz.ipa" download="naturfagsappen.ipa">Last ned</a>
            <br />
        </div>
    </div>
</div>
