@page
<div class="container spacing">
    <div class="row">
        <div class="col-md-12 review-one review">
            <h2>Nedlasting av naturfagsappen</h2>
            <p>Naturfagsappen er for deg som ønsker å nå ditt potensiale i naturfag! Bruk appen til å gjøre deg klar til eksamen og andre vurderinger. Spørsmålene og bildene eies av Kjemia og kan ikke brukes uten samtykke.</p>
            <h5>iPhone/iOS</h5>
            <div>
                <form method="post" enctype="multipart/form-data">
                    <button type="submit" asp-page-handler="DownloadIOS" style="width:75px"
                            class="button btn-primary">
                        Last ned
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
