@page
<div class="jumbotron">
    <div class="container">
        <h1>Last ned Naturfagsappen</h1>
        <h3>iOS</h3>
        <div class="row">
            <div class="col-sm-6">
                <a class="btn btn-block btn-lg btn-inverse" href="itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/kristianoftedal/Naturfagsappen/master/manifest.plist" download>Last ned</a>
            </div>
        </div>
        <h3>Android</h3>
        <div class="row">
            <div class="col-sm-6">
                <a class="btn btn-block btn-lg btn-primary" href="~/downloads/15-1.apk" download>Last ned</a>
            </div>
        </div>
    </div>
</div>
