@page
<div class="container spacing">
    <div class="row">
        <div class="jumbotron">
            <h2>Brukervilkår</h2>
            <p>Naturfagsappen er for deg som ønsker å nå ditt potensiale i naturfag! Bruk appen til å gjøre deg klar til eksamen og andre vurderinger. Spørsmålene og bildene eies av Kjemia og kan ikke brukes uten samtykke.</p>
            <h5>Personvernserklæring</h5>
            <p>Naturfagsappen håndterer ikke sensitiv informasjon om sine brukere. Appen er utelukkende ment til nedlastning og vil ikke ta i bruk eller samle informasjon om noen av sine brukere. Om vi mottar noe sensitiv informasjon blir det makulert umiddlerbart. Ingen informasjon om eller fra brukere vil bli tatt vare på eller delt.</p>
        </div>
    </div>
</div>
